*.vsidix
*.db
*.db-shm
*.db-wal
*.opendb
Browse.VC.db
/.vs/SEROV3_RESURRECTED/FileContentIndex/7b62a7f6-1e70-4737-9be3-5625a74330d8.vsidx
/.vs/SEROV3_RESURRECTED/FileContentIndex/9b5973be-70d9-4541-9777-03efee02c2ce.vsidx
/.vs/SEROV3_RESURRECTED/FileContentIndex/c04615ab-6b30-4809-b880-4997a24a5dad.vsidx
/.vs/SEROV3_RESURRECTED/FileContentIndex/d0a6f7a0-8c1b-4d0e-9945-abce063d4373.vsidx
/.vs/SEROV3_RESURRECTED/FileContentIndex/e2e8c6b4-ca2b-4c89-bc38-9eccfbf5c889.vsidx
/.vs/SEROV3_RESURRECTED/v17/.suo
/.vs/SEROV3_RESURRECTED/v17/ipch/AutoPCH/b2f101bb0a7a8b4f/MAIN.ipch
/.vs/SEROV3_RESURRECTED/v17/ipch/AutoPCH/c9574d8abdb6f499/TAVERN.ipch
/SEROV3_RESURRECTED.vcxproj.user
