*.vsidix
*.db
*.db-shm
*.db-wal
*.opendb
Browse.VC.db
/.vs/SEROV3_RESURRECTED/FileContentIndex/7b62a7f6-1e70-4737-9be3-5625a74330d8.vsidx
/.vs/SEROV3_RESURRECTED/FileContentIndex/9b5973be-70d9-4541-9777-03efee02c2ce.vsidx
/.vs/SEROV3_RESURRECTED/FileContentIndex/c04615ab-6b30-4809-b880-4997a24a5dad.vsidx
/.vs/SEROV3_RESURRECTED/FileContentIndex/d0a6f7a0-8c1b-4d0e-9945-abce063d4373.vsidx
/.vs/SEROV3_RESURRECTED/FileContentIndex/e2e8c6b4-ca2b-4c89-bc38-9eccfbf5c889.vsidx
/.vs/SEROV3_RESURRECTED/v17/.suo
/.vs/SEROV3_RESURRECTED/v17/ipch/AutoPCH/b2f101bb0a7a8b4f/MAIN.ipch
/.vs/SEROV3_RESURRECTED/v17/ipch/AutoPCH/c9574d8abdb6f499/TAVERN.ipch
/SEROV3_RESURRECTED.vcxproj.user
/.vs/SEROV3_RESURRECTED/FileContentIndex/068ca420-0c1a-4932-80b0-fba60976d70d.vsidx
/.vs/SEROV3_RESURRECTED/FileContentIndex/16d6e949-0c79-4ad1-9e2f-df7d5e3b4a82.vsidx
/.vs/SEROV3_RESURRECTED/FileContentIndex/22da11ad-1ed8-489e-a68f-a4415d4e6ced.vsidx
/.vs/SEROV3_RESURRECTED/FileContentIndex/57a8b58d-b62b-4ae0-bfa6-e6611c4ae72c.vsidx
/.vs/SEROV3_RESURRECTED/FileContentIndex/65b8d328-4346-44a0-803f-fe2b46e77a8c.vsidx
/.vs/SEROV3_RESURRECTED/FileContentIndex/806bb301-ed95-469d-95ce-5ec55c17ed70.vsidx
/.vs/SEROV3_RESURRECTED/FileContentIndex/94db4307-34e3-4f16-95a3-c5266ab93aef.vsidx
/.vs/SEROV3_RESURRECTED/FileContentIndex/c4b5b403-7f4d-49ed-98b7-3d9d04076bff.vsidx
/.vs/SEROV3_RESURRECTED/FileContentIndex/cb2245fb-4644-4b2f-8875-1878f6a988fe.vsidx
/.vs/SEROV3_RESURRECTED/v17/ipch/AutoPCH/17cb45aa6f079a47/LEVEL.ipch
/.vs/SEROV3_RESURRECTED/v17/ipch/AutoPCH/27298e6bd4468269/VCTMP2032_679562.TAVERN.00000000.ipch
/.vs/SEROV3_RESURRECTED/v17/ipch/AutoPCH/4159a0eb21184659/VCTMP18608_992478.MAIN.00000000.ipch
/.vs/SEROV3_RESURRECTED/v17/ipch/AutoPCH/7b6b6a0f7e0590c0/END.ipch
/.vs/SEROV3_RESURRECTED/v17/ipch/AutoPCH/8581bdb39543b94a/QUICK_STATS.ipch
/.vs/SEROV3_RESURRECTED/v17/ipch/AutoPCH/a3b9b79e6e2a11d7/DEATH.ipch
/.vs/SEROV3_RESURRECTED/v17/ipch/AutoPCH/a68eed21604ceab9/ADVENTURE.ipch
/.vs/SEROV3_RESURRECTED/v17/ipch/AutoPCH/a6ad329aaffe28e0/FIGHT.ipch
/.vs/SEROV3_RESURRECTED/v17/ipch/AutoPCH/c0ce986e425db5b8/EXE_COMMON.ipch
/.vs/SEROV3_RESURRECTED/v17/ipch/AutoPCH/c73958de3b16b4bb/FIGHT.ipch
/.vs/SEROV3_RESURRECTED/v17/ipch/AutoPCH/d63e1f29f2f56278/VCTMP3888_584506.LEVEL.00000000.ipch
/.vs/SEROV3_RESURRECTED/v17/ipch/AutoPCH/de2421c74e0a2f63/DEATHSCREEN.ipch
/.vs/SEROV3_RESURRECTED/v17/ipch/AutoPCH/f3c27b89d0bc469a/VCTMP14268_739170.MAIN.00000000.ipch
/x64/Debug/main.obj
/x64/Debug/main.obj.enc
/x64/Debug/SEROV3_R.e4edf69b.tlog/CL.read.1.tlog
/x64/Debug/SEROV3_R.e4edf69b.tlog/CL.write.1.tlog
